.navbar {
    background: #ffffff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    padding: 0 2rem;
    position: relative;
    z-index: 1000;
}

.navContainer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    padding: 0.5rem 0;
}

.logoText {
    display: flex;
    flex-direction: column;
    line-height: .8;
}

.logoMain {
    font-size: 1.1rem;
    font-weight: 700;
}

.logoMain .highlight {
    color: #f7b000;
}

.logoSub {
    font-size: 0.65rem;
    color: #666;
    margin-top: 0.2rem;
    letter-spacing: 0.3px;
}

.navItems {
    position: relative;
}

.fazerLogin {
    background: transparent;
    color: #2d2d2d;
    padding: 8px 12px;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    font-size: .9rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.fazerLogin:hover {
    border-color: #f7b000;
    color: #f7b000;
}


.profileWrapper {
    position: relative;
    cursor: pointer;
}

.profileIcon {
    font-size: 2.2rem;
    color: #2d2d2d;
    transition: color 0.3s ease;
}

.profileIcon:hover {
    color: #f7b000;
}

.dropDown {
    position: absolute;
    right: 0;
    top: 50px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    overflow: hidden;
}

.userInfo {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;

}

.userIcon {
    font-size: 2rem;
    color: #666;
}

.userDetails h4 {
    margin: 0;
    font-size: .8rem;
    color: #2d2d2d;
}

.userDetails p {
    margin: 0.3rem 0 0;
    font-size: 0.7rem;
    text-wrap: wrap;
    color: #666;
}

.menuItems {
    padding: 1rem 0;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    font-size: 13px;
    gap: 1rem;
    color: #444;
    transition: all 0.3s ease;
}

.menuItem:hover {
    background: #f8f9fa;
    color: #f7b000;
}

.menuItem svg {
    font-size: 1.2rem;
}

.exitBtn {
    color: #dc3545;
}

.exitBtn:hover {
    color: #c82333;
}

@media (max-width: 768px) {
    .navContainer {
        padding: 0 1rem;
        height: 70px;
    }

    .logoText span {
        font-size: 1.2rem;
    }



    .dropDown {
        width: 250px;
        right: -1rem;
    }

    .userIcon {
        display: none;
    }

    .userInfo {
        display: flex;
        align-items: center;
        padding: 1.5rem;
        gap: 1rem;

    }

}

@media (max-width: 480px) {
    .navbar {
        padding: 0 1rem;
    }

    .logoText span {
        font-size: 1.1rem;
    }

    .logoText small {
        display: none;
    }
}