.container {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 20px;
    min-height: 40vh;
}

.form {
    background-color:transparent;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #333333;
    text-align: center;
}

.label {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label span {
    font-size: 0.9rem;
    color: #555555;
    margin: 15px 0;
    align-self: flex-start;
}

.container input {
    width: 100%;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
}

.container input:focus {
    border-color: #e4a403;
    background-color: #fff;
}


.container button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #ffffff;
    background-color: #e4a403;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color:#c08a03;}

.container a {
    font-size: 14px;
    color: #777;
    text-decoration: none;
    margin: 15px 0;
}


