.residentProfile {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.container {
    max-width: 640px;

}

.residentProfile h3 {
    font-size: 18px;
    font-weight: bold;
    color: #141414;
    margin-bottom: 20px;
}

.responsible h3 {
    font-size: 18px;
    font-weight: bold;
    color: #141414;
    ;
    margin-bottom: 20px;
}

.profileContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    width: 100%;
    padding: 0 40px;
}

.personalInfo {
    display: flex;
    gap: 20px;
    
}

.profileInfo {

    padding: 20px;
    border-radius: 10px;
    background-color: #ebeaea;
    flex: 1;
}

.profileInfo p {
    color: #141414;
    margin: 5px 0;

}

.profileContent span {
    font-weight: 600;
}

.profilePhoto img {
    height: 100%;
    max-height: 250px;
    width: 250px;
    border-radius: 10px;
}

.responsible,
.obs {
    font-size: 14px;
    margin-top: 2em;
    padding: 20px;
    background-color: #ebeaea;
    border-radius: 10px;
}
.obs h3{
    margin: 0;
}
.obs p{
    margin-top: 10px;

}
.codeContainer{
    width: 100%;
    margin: 20px 0;
}
.actions {
    margin-top: 2em;
    padding: 0;
    display: flex;
    align-self: center;
    flex-direction:row;
    justify-content:left;
    flex-wrap: wrap;
   width: 100%;
    gap: 30px;

}

.yelowBtn {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    background-color: #e4a403;
    color: #ebeaea;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    gap: 5px;

}

.yelowBtn:hover {
    background-color: #c58e04;
}

.redBtn {
    background-color: #e40303;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    gap: 5px;
}

.redBtn:hover {
    background-color: #be0202;
}

.download div {
    display: none;
}

.notFound {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redText span {
    color: #e40303;
}

.obs h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}

.obs svg {
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;

}

.ativo svg {
    color: #f7f7f7;
    background-color: #02c212;

}

.inativo svg {
    color: #f7f7f7;
    background-color: #d60e0e;
}

@media (max-width:850px) {
    .container {
        max-width: 100%;
        width: 100%;
    }

    .residentProfile {
        padding: 20px;
    }

    .personalInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .responsible {
        font-size: 14px;
        margin-top: 1em;

    }

    .profileContent {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 14px;
        width: 100%;
        padding: 0;
    }

    .actions {
        margin-top: 2em;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
        justify-content: start;
        font-size: 14px;
    }

    .actions button {
        background-color: #e4a403;
        color: #f7f7f7;
        padding: 15px 25px;
        font-size: 14px;
        cursor: pointer;
        border-radius: 10px;
        font-weight: 500;
        justify-content: center;
    }

    .yelowBtn {
        background-color: #e4a403;
        color: #f7f7f7;
        padding: 15px 25px;
        font-size: 14px;
        cursor: pointer;
        border-radius: 10px;
        font-weight: 500;
        justify-content: center;
    }

    .redBtn {

        background-color: #e40303;
        color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 25px;
        font-size: 14px;
        cursor: pointer;
        border-radius: 10px;
        font-weight: 500;
        gap: 5px;
    }

    .residentProfile h3 {
        font-size: 16px;
    }
}